body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color:#333;
}
a:link,
a:visited{
    color: #006ec3;
}
p{
    line-height: 1.65em;
    text-align: justify;
}
.gallery{
    padding-top: 15px;
}

/* General Layout */
div.container{
    max-width: 920px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Content Area */
article.post{
    border-bottom: 1px dotted #bbbbbb;
}
article.post:last-of-type{
    border-bottom: none;
}
article.post.has-thumbnail{
    padding-bottom: 10px;
}

/* Aside styles */
article.post-aside,
article.post-link{
    font-size: 125%;
    background-color: #fff5cb;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    margin-top: 10px;
    border-bottom: none;
}
article.post-aside p:nth-child(2){
    margin-top: 0;
}
.mini-meta{
    font-size: 68%;
    margin: 0;
    color: #777;
}

/* Link post format styles */
article.post-link{
    padding: 0;
    background-color: #e0ebff;
}
article.post-link a{
    display: block;
    padding: 20px;
}

/* Gallery post format styles */
article.post-gallery{
    background-color: #222;
    color: #fff;
    padding: 20px;
    margin-top: 10px;
    border-bottom: none;
    margin-bottom: 10px;
}
article.post-gallery h2{
   text-align: center;
}

/* Header */
.site-header{
    border-bottom: 1px solid #999;
}
.site-header h1 a{
    text-decoration: none;
}
.site-header h1.title{
    width: 20%;
    margin: 0 auto;
    padding-top: 5px;
}
.site-header h5.description{
    width: 15%;
    margin: 0 auto;
}
.site-header nav.site-nav{
    padding-top: 25px
}

/* Post columns*/
.home_columns{
    width: 100%;
    display: table;
    padding-top: 20px;
}
.home-columns h2 {
    margin-bottom: .7em;
}
.one-half{
    width: 50%;
    display: table-cell;
}
.one-half p{
    width: 83%;
}
.last-half{
    width: 50%;
    display: table-cell;
}
.last-half p{
    width: 85%;
}
.one-half h4, .last-half h4{
    margin-bottom: 3px;
    font-weight: bold;
}

.one-half h4 a, .last-half a{
    text-decoration: none;
}

.one-half a:hover, .last-half a:hover {
    text-decoration: underline;
}
.subtle-date {
    margin-left: 5px;
    font-weight: normal;
    font-size: 80%;
    color: #FFF;
    background-color: #BABABA;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .33);
    border-radius: 5px;
    padding: 3px 7px;
}
.btn-a,
.btn-a:link,
.btn-a:visited {
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-block;
    background-color: #006ec3;
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    border-radius: 4px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .6);
    margin-right: 40px;
}
.btn-a:hover {
    background-color: #004C87;
}
.horiz-center {
    display: block;
    text-align: center;
}

/* Main column */
/*.main-column{*/
    /*width: 66%;*/
    /*float: left;*/
/*}*/

/*!*Side column *!*/
/*.secondary-column{*/
    /*width: 30%;*/
    /*float: right;*/
/*}*/

/* Footer widget area */
.footer-widget-area{
    width: 25%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

/* Footer */
.site-footer{
    margin-bottom: 30px;
    border-top: 1px solid #999;
}
.site-footer p.foot{
    text-align: center;
}
.site-footer nav.site-nav{
    padding-top: 5px
}

/* Nav Menus */
.site-nav ul{
    margin: 0;
    padding: 0;
}
.site-nav ul:before, .site-nav ul:after{
    content: "";
    display: table;
}
.site-nav ul:after{
    clear: both;
}
.site-nav ul li{
    list-style:none;
    float: left;
}

/* Header Nav Menu */
.site-header nav ul li{
    margin-right: 5px;
}
.site-header nav ul li a:link,
.site-header nav ul li a:visited{
    display: block;
    padding: 10px 18px;
    border:1px solid #bbb;
    border-bottom: none;
    text-decoration: none;
}
.site-header nav ul li a:hover{
    background-color: #ececec;
}
.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
    font-weight: bold;
    background-color: #006ec3;
    color: #fff;

}

/* Footer menu */
.site-footer nav ul li{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px dotted #bbb;
}
.site-footer nav ul{
    width: 47%;
    margin: 0 auto;
}

/* Info Box */
div.info-box{
    width: 30%;
    float: right;
    margin: 0 0 30px 30px;
    padding: 20px;
    background-color: #eee;
}
div.info-box h4{
    margin-bottom: 5px;
}
div.info-box p{
    font-size: 85%;
}

/* Children Links */
.children-links{
    margin-bottom: 20px;
    font-size: 85%;
    padding-bottom: 14px;
    padding-top: 10px;
}
.children-links a:link,
.children-links a:visited{
    text-decoration: none;
}
.children-links ul{
    float: left;
}
.children-links li{
    margin-right: 20px;
}
.children-links .parent-link{
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px dotted #bbb;
    font-size: 120%;
    font-weight:bold;
}
.children-links .parent-link a:link,
.children-links .parent-link a:visited{
    color: #333;
}
.children-links .current_page_item a:link,
.children-links .current_page_item a:visited{
    border-bottom: 1px solid #ddd;
    color: #333;
    cursor: default;
}

/* Post styles */
.post h2{
    margin-bottom: -12px;

}
p.post-info{
    font-size: 87%;
    color: #999;
}
p.post-info a:link,
p.post-info a:visited{
    color: #999;
}

/* Image Styles */
img{
    max-width: 100%;
    height: auto;
}
.has-thumbnail{
    position: relative;
    padding-left: 200px;
}
.post-thumbnail{
    position: absolute;
    top: 0;
    left: 0;
}

/* Search */
div.hd-search{
    float: right;
    margin-top: 91px;
}
div.hd-search label{
    position: absolute;
    left: -9999px;
}
div.hd-search #searchsubmit{
    background-color: #006ec3;
    color: #fff;
    border: none;
    padding: 3px 5px;
}